[submodule "disciplinas/MATA57 - Laboratório de Programação/MATA57-grupo"]
	path = disciplinas/MATA57 - Laboratório de Programação/MATA57-grupo
	url = https://github.com/LucasDSL/MATA57-LAB1
[submodule "outras/HACKATHON SEMCOMP 2022/hackathon"]
	path = outras/HACKATHON SEMCOMP 2022/hackathon
	url = git@github.com:LucasDSL/hackaton-semcomp-backend.git
